
<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link text-white" routerLink="/admin/dashboard">Dashboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" routerLink="/add-trip">Add Trip</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" routerLink="/trips">View Trips</a>
  </li>
</ul>









<!-- 
<div class="sidebar bg-dark text-white p-3 vh-100">
    <h4 class="mb-4">Trip Planner</h4>
    <ul class="nav flex-column">
      <li class="nav-item" *ngFor="let item of filteredLinks">
        <a class="nav-link text-white" [routerLink]="item.path">{{ item.label }}</a>
      </li>

      <li class="nav-item" >
        <a class="nav-link text-white" >Trips</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link text-white" >Trips</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link text-white" >Trips</a>
      </li>
    </ul>
  </div>
   -->