<div class="d-flex vh-100">
  <!-- Sidebar -->
  <div [class.d-none]="!sidebarOpen" class="bg-dark text-white p-3" style="width: 250px; ">
    <app-sidebar [links]="adminLinks"></app-sidebar>
  </div>

  <!-- Main Content -->
  <div class="flex-grow-1 p-4">
    <!-- Toggle Button -->
    <button class="btn btn-outline-dark mb-3" (click)="toggleSidebar()">
      @if (!sidebarOpen) {
        <span style="font-size: 1.5rem;">&#9776;</span>
      }
      @else {
        <span style=" font-size: 1.5rem;">&#10006;</span>
      }
    </button>
    
    <!-- Hero Section -->
   
    <router-outlet></router-outlet>
  </div>


</div>
